@model List<Ruhjobsss.DataAccess.Entity.Contact>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Contact Us -->
<section class="contact-us section">
	<div class="container">
		<div class="contact-info">
			<div class="row">
				@foreach (var item in Model)
				{
					<!-- single-info -->
					<div class="col-lg-6 col-12 ">
						<div class="single-info">
							<i class="icofont icofont-ui-call"></i>
							<div class="content">
								<h3>@item.Telephone</h3>
								<p>Telephone</p>
							</div>
						</div>
					</div>
					<!--/End single-info -->
					<!-- single-info -->
					<div class="col-lg-6 col-12 ">
						<div class="single-info">
							<i class="icofont-envelope"></i>
							<div class="content">
								<h3>@item.Email</h3>
								<p>Email address</p>
							</div>
						</div>
					</div>
					<!--/End single-info -->
				}
			</div>
		</div>
	</div>
</section>
<!--/ End Contact Us -->