@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Contact Us -->
<section class="contact-us section">
	<div class="container">
		<div class="contact-info">
			<div class="row">
				<!-- single-info -->
				<div class="col-lg-6 col-12 ">
					<div class="single-info">
						<i class="icofont icofont-ui-call"></i>
						<div class="content">
							<h3>+(000) 1234 56789</h3>
							<p>info@company.com</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
				<!-- single-info -->
				<div class="col-lg-6 col-12 ">
					<div class="single-info">
						<i class="icofont-google-map"></i>
						<div class="content">
							<h3>2 Fir e Brigade Road</h3>
							<p>Chittagonj, Lakshmipur</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
			</div>
		</div>
	</div>
</section>
<!--/ End Contact Us -->
