
@{
    ViewData["Title"] = "ContactAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ContactAdd</h1>

<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <form method="post">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" name="Email" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Telephone</label>
                        <input class="form-control" name="Telephone" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
